.App {
    font-family: sans-serif;
    padding: 1rem 5rem;
  }
  
  .scroll-to-top {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
    margin-right: 20px;
  }

  .gotopbtn{
      width: 50px;
      height: 50px;
      background: #27ae60;
      margin-bottom: 30px;
      right: 50px;

      text-decoration: none;
      text-align: center;
      line-height: 50px;
      border-radius: 25px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }