.view-carousel{
    text-align: -webkit-center;
    background-color: #000000;
}

.view-carousel-1{
    text-align: -webkit-center;
    background-color: #1E0531;
}

.view-carousel-2{
    text-align: -webkit-center;
    background-color: #000000;
}

.view-carousel-3{
    text-align: -webkit-center;
    background-color: #BC020B;
}

.carousel-control-prev{
    width: 600px;
}

.carousel-control-next{
    width: 600px;
}