.shortcutsList{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}
.image-filter{
    flex:0 0 10%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
.shortcutsList-list{
    display: flex;
}