.banner img{
    width: 1905px;;
}
.navbar-nav{
    margin-right: 35px;
}
.styles_modal__gNwvD{
    margin-top: 270px;
}

.free{
    color: #dd5218;
}
.subtitle{
    color: #aa9991;
    margin-bottom: 20px;
}
.contact-form{
    margin-top: 30px;
}



.topBar{
    background-color: #cb000b;
    padding: .6rem;
    position: relative;
    z-index: 4;
}
.container {
    width: 100%;
    padding-right: .4rem;
    padding-left: .4rem;
    margin-right: auto;
    margin-left: auto;
}

.topBarLink{
    display: flex;
}
.row{
    display: flex;
    margin-right: -.4rem;
    margin-left: -.4rem;
}

.topBarColLeft_2fRx {
    flex-grow: 1;
}

.topBarCol_2wvN {
    display: flex;
}
.topBarLink_2Ybi {
    padding: 0 .4rem;
    cursor: pointer;
}
.Users{
    display: flex;
}

button{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    border: none;
    line-height: inherit;
    background-color: transparent;
    color: bisque;
 
}
@media (min-width: 1367px){
    .container {
        max-width: 1360px;
    }
}
@media screen and (min-width: 320px) and (max-width: 680px)
{
    .home a {
        display: none !important; 
    }
    .banner img {
        display: none !important; 
    }
}