.glyphicon {
	margin-right:5px;
}
.thumbnail {
	margin-bottom: 20px;
	padding: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.btn-sp {
	width: 12%;
	margin: 0 1%;
}
.img-thumbnail {
	width: 300px;
}
.item.list-group-item {
	float: none;
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
}
.filter-container{
	background-color: ghostwhite;
}
.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
background: #428bca;
}
.item.list-group-item .list-group-image {
margin-right: 10px;
}
.item.list-group-item .thumbnail {
margin-bottom: 0px;
}
.item.list-group-item .caption {
padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd) {
background: #eeeeee;
}
.item.list-group-item:before, .item.list-group-item:after {
display: table;
content: "";
}
.item.list-group-item img {
float: left;
}
.item.list-group-item:after {
clear: both;
}
.list-group-item-text {
margin: 0 0 11px;
}
.list-item {
    display: block;
}

.group-sp {
	background-color: #E8E8E8;
	border: 0.5px dashed #CFCFCF;
	color: black;
}
.hover-link:hover {
	text-decoration: none;
}
/* .col-3 ul li a:hover {
	border-bottom: 2px solid #262626;
} */




.MuiRating-label {
    color: yellow;
}