li{
	text-decoration: none;
}
.navbar, .wapper {
	background-color:#e5101d;
}


.navbar li a {
	color: white !important;
}

.navbar li a:hover {
	color: black !important;
}
.col-3 ul li a {
	color: #fff;
}
.col-3 ul li a:hover{
	color: black;
	
}
.col-3 ul :hover{
	color: #fff;
	
}
.nav-item{
	width: max-content;

}
.dropdown-menu a {
	color: black;
}
.nav-link{
	margin-left: 10px;
}
.dropdown-menu{
	width: 150px;
	margin-left: 40px;
	background-color: #ff5622;
}
.form-inline input{
	width: 670px;
	height: 40px;
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	width: 306px;
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 100;
	margin-top: 2px;
	margin-left: -124px;
	border-bottom: 1px solid #000;

  }
  .dropdown-content img {
	  width: 196px;
  }
  
  .dropdown-content a {
	color: black;
	padding: 11px 30px;
	text-decoration: none;
	display: block;
	text-align: center;
	border-bottom: 1px solid silver;
  }
  
  .dropdown-content a:hover {
	background-color: #fff;
	border-bottom:1px solid red;
}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

@media (min-width: 1367px){
    .container {
        max-width: 1360px;
    }
}
@media screen and (min-width: 320px) and (max-width: 680px)
{
    .home a {
        display: none !important; 
    }
    .banner img {
        display: none !important; 
    }
}