.form-list{
    display: grid;
    margin-bottom: 50px;
}
.checkout{
    display: block;
    background-color: #fff;
    margin-bottom: 1.2rem;
    padding: .6rem 1.2rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    text-transform: uppercase;
}
.checkout-item{
    width: 1345px;
    display: block;
    background-color: #fff;
    margin-bottom: 1.2rem;
    padding: .6rem 1.2rem;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    text-transform: uppercase;
}

.list-item{
    display: block;
    background-color: #fff;
    margin-bottom: 1.2rem;
    padding: .6rem 1.2rem;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    text-transform: uppercase;
}
.breadcrumb{
    margin: 0;
}
.form-group{
    margin: auto;
    margin-top: 20px;

}
.form-custom{
    margin: auto;
    margin-top: 20px;
}
.form-group input {
    background-color: GhostWhite;
    width: 350px;
}