.card {
    border-color: trasparent;
    transition: all .5s linear;
    border-radius: 1.25rem;
  }

.img-container {
    position: relative;
    overflow: hidden;
  }
.p-5 {
    padding: 2.5rem!important;
}

.card-img-top {
    transition: all .5s linear;
  }

.img-container:hover .card-img-top {
    transform: scale(1.2);
  }


.card:hover {
  border: 0.04rem solid rgba(0,0,0,0.2);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
  }
.card-footer:hover {
  background: rgba(247,247,247);
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  }
  

.card-footer {
    background: transparent;
    border-top: transparent;
    transition: all .5s linear;
  }

.cart-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding : 0.2rem 0.4rem;
    background: var(--lightBlue);
    border: none;
    color: var(--mainWhite);
    font-size: 1.4rem;
    border-radius: 0.5rem 0 0 0;
    transform: translate(100%, 100%); 
    transition: all .5s linear;
  }

.card button{
  background-color: hotpink;
}

.img-container:hover .cart-btn {
    transform: translate(0, 0);
  }

.cart-btn:hover {
    color: var(--mainBlue);
    cursor: pointer;
  }
